    body {
    background-image: url("../images/fonfo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Centrar la imagen */
    margin: 0; /* Elimina el margen predeterminado del body */
    height: 100vh; /* Establece la altura del body al 100% de la ventana gráfica */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
     /* Agregamos un color de fondo al footer */
    color: white;
    text-align: center;
     /* Añadimos un relleno para que el texto no esté pegado al borde */
}
